@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto+Slab:wght@400;700;900&display=swap');

:root {
    --scarf-color: #5D5FB4;
    --scarf-transparent: #5D5FB450;
    --mountain-color: #A43C23;
    --mountain-transparent: #A43C2350;
    --border-color: #e3d0bf;
    --border-transparent: #e3d0bf90;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto Slab', serif;
    color: var(--border-color);
    background-color: #181818;
}

header {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-image: url(images/band-landscape.JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #181818;

    position: relative;
    z-index: -1;
}

header img {
    height: 100%;
    width: 100%;
    opacity: 10%;
}

nav {
    width: 100%;
    height: 65px;
    position: fixed;
    top: 0;
    z-index: 10;
    border-bottom: 10px solid var(--border-color);
    background-color: #101010;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    align-items: center;
    box-sizing: content-box;
}

nav .nav-links {
    justify-self: start;
    margin-left: 15%;
}

nav .logo-link {
    justify-self: center;
}

nav .logo {
    width: 120px;
    filter: invert(1);
}

nav .socials {
    justify-self: end;
    margin-right: 15%;
}

nav .socials img, footer .socials img {
    width: 30px;
}

nav ul, footer ul {
    list-style-type: none;
    text-align: center;
    display: flex;
    justify-content: center;
}

nav ul li, footer ul li {
    padding: 1em;
}

nav ul li a {
    color: var(--border-color);
    font-weight: bold;
    text-decoration: none;

    border-bottom: 3px solid transparent;
    padding-bottom: 2px;
    font-size: 1.5em;
    font-weight: 700;
}

.nav-links a:hover {
    border-bottom: 3px solid var(--border-color);
}

.active {
    border-bottom: 3px solid var(--border-color);
}

.socials img:hover {
    filter: invert(1);
}

.hamburger {
    display: none;
    width: 45px;
    margin-left: 15%;
}

.mobile-nav {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    width: 65%;
    background-color: #101010;
    z-index: 12;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    right: -100%;
    transition: right 0.5s;
}

.mobile-nav.visible {
    right: 0;
}

.mobile-logo {
    width: 200px;
    filter: invert(1)
}

.mobile-nav-links {
    list-style-type: none;
    text-align: center;
}

.mobile-nav-links a {
    text-decoration: none;
    color: var(--border-color);
    font-size: 2em;
}

.mobile-nav-links a:hover {
    border-bottom: 3px solid var(--border-color);
}

.mobile-socials {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.mobile-socials img {
    width: 30px;
}

main {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: #181818;
}

.tagline {
    background-color: #181818;
    text-align: center;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    padding-top: 2%;
    font-family: 'Archivo Black', sans-serif;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #181818;
}

.box {
    flex: 0 0 45%;
    padding-top: 45%;
    box-sizing: border-box;
    position: relative;
}

.box-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 10px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content-wrapper {
    text-align: center;
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 5px solid var(--border-color);
}

.content-wrapper h1 {
    font-size: 3.5vw;
    font-family: 'Archivo Black', sans-serif;
}

.content-wrapper p {
    font-size: 1.25vw;
}

.schedule {
    background-color: none;
    font-size: 1.25vw;
    width: 80%;
    border-collapse: collapse;
}

.schedule th, .schedule td {
    padding: 15px;
    text-align: center;
}

.schedule th {
    font-weight: 900;
}

.schedule thead tr {
    border-bottom: 2px solid var(--border-color);
}

.schedule tbody tr:not(:last-child) {
    border-bottom: 2px solid var(--border-color);
}

.schedule a {
    color: var(--border-color)
}

.schedule a:hover {
    color: #181818
}

#A {
    margin-top: 2.5%;
    margin-left: 2.5%;
    margin-bottom: 1.25%;
    margin-right: 1.25%;
}

#B {
    margin-top: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 1.25%;
    margin-left: 1.25%;
}

#C {
    margin-bottom: 3.5%;
    margin-left: 2.5%;
    margin-top: 1.25%;
    margin-right: 1.25%;
}

#D {
    margin-bottom: 3.5%;
    margin-right: 2.5%;
    margin-top: 1.25%;
    margin-left: 1.25%;
}

#box1 {
    background-color: var(--scarf-color);
}

#box2 {
    background-color: var(--mountain-color);
}

#box3 {
    background-color: var(--mountain-color);
}

#box4 {
    background-color: var(--scarf-color);
}

#contentA {
    padding: 2%;
    background-color: #4c4d93;
    box-shadow: 10px 10px 5px #4c4d93;
}

#contentB {
    background-color: #7a2d1a;
    box-shadow: 10px 10px 5px #7a2d1a;
}

#contentC {
    padding: 2%;
    background-color: #7a2d1a;
    box-shadow: 10px 10px 5px #7a2d1a;
}

#contentD {
    background-color: #4c4d93;
    padding: 2%;
    box-shadow: 10px 10px 5px #4c4d93;
}

#contentD form {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 1.25vw;
}

#contentD label {
    margin-bottom: 10px;
}

#contentD input[type="email"] {
    background: transparent;
    border: none;
    border-bottom: 2px solid var(--border-color);
    margin-bottom: 20px;
    padding: 5px 0;
    width: 100%;
    caret-color: var(--border-color);
    color: var(--border-color);
    font-size: 1.25vw;
}

#contentD input[type="email"]:focus {
    outline: none;
}

#contentD input[type="email"]::placeholder {
    font-size: 1vw;
    font-family: 'Roboto Slab', serif;
}

#contentD button[type="submit"] {
    background-color: var(--border-color);
    border: none;
    padding: 5% 10%;
    color: #181818;
    cursor: pointer;
    font-family: 'Roboto Slab', serif;
    font-size: 1.25vw;
}

#contentD button[type="submit"]:hover {
    background-color: #181818;
    color: var(--border-color);
}

.invalid::placeholder {
    color: red;
}

.profiles {
    margin-top: 20px;
}

.profile {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 70%;
    margin: 0 auto;
    padding: 5%;
    gap: 20px;
}

.profile-pic {
    width: 50%;
    border: 10px solid var(--border-color)
}

.profile h1 {
    font-size: 3.5vw;
    font-family: 'Archivo Black', sans-serif;
}

.profile h2 {
    font-size: 1.25vw;
}

.profile p {
    padding: 10px;
    border: 10px solid var(--border-color)
}

#connie p, #avie p {
    background-color: var(--mountain-color);
}

#oliv p, #ben p {
    background-color: var(--scarf-color);
}

.insta img {
    width: 40px;
}

footer {
    height: 15vh;
    width: 100%;
    overflow: hidden;
    background-color: #101010;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    position: relative;
    border-top: 10px solid var(--border-color)
}

#credit {
    width: 80%;
    font-size: 2vw;
    color: var(--border-color);
}

#footer-logo {
    width: 200px;

    #footer-img {
        width: 100%;
        filter: invert(1)
    }
}

@media screen and (max-width: 1500px) {
    .profiles {
        margin-top: 40px;
    }
}

@media screen and (max-width: 1000px) {
    .hamburger {
        display: block;
    }

    .nav-links {
        display: none;
    }

    .socials li {
        padding: 0.25em;
    }

    .profiles {
        margin-top: 60px;
    }
}

@media screen and (max-width: 768px) {
    header {
        background-image: url(images/band-portrait.jpeg);
    }

    header img {
        opacity: 0;
    }

    .tagline {
        font-size: 3.5vw;
    }

    .box {
        flex: 0 0 90%;
        padding-top: 90%;
        margin: 5%;
    }

    .boxes {
        margin-bottom: 2.5%;
    }

    .content-wrapper h1 {
        font-size: 6vw;
    }

    .content-wrapper p {
        font-size: 2.5vw;
    }

    .schedule {
        font-size: 3vw;
    }

    #box3 {
        background-color: #5D5FB4;
    }

    #box4 {
        background-color: #A43C23;
    }

    #A,
    #B,
    #C,
    #D {
        margin: 2.5%;
    }

    #contentC {
        background-color: #4c4d93;
        box-shadow: 10px 10px 5px #4c4d93;
    }

    #contentD {
        background-color: #7a2d1a;
        box-shadow: 10px 10px 5px #7a2d1a;
    }

    #contentD form {
        font-size: 2.5vw;
    }

    #contentD button[type="submit"] {
        font-size: 2.5vw;
    }

    #contentD input[type="email"] {
        font-size: 2.5vw;
    }

    #contentD input[type="email"]::placeholder {
        font-size: 2vw;
    }

    .profile h1 {
        font-size: 6vw;
    }

    .profile h2 {
        font-size: 4vw;
    }

    .profile-pic {
        width: 300px;
    }

    .profile {
        width: 90%;
    }
}

@media screen and (max-width: 600px) {
    .profiles {
        margin-top: 80px;
    }
}