@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

:root {
    --scarf-color: #5D5FB4;
    --scarf-transparent: #5D5FB450;
    --mountain-color: #A43C23;
    --mountain-transparent: #A43C2350;
    --border-color: #e3d0bf;
}

* { box-sizing: border-box; margin: 0; padding: 0; border: 0; }

body {
    font-family: 'Roboto Slab', serif;
    color: var(--border-color);
}

header {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-image: url(images/band-landscape.JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #181818;
}

header img {
    height: 100%;
    width: 100%;
    opacity: 10%;
    position: fixed;
    z-index: 1;
}

main {
    position: relative;
    z-index: 2;
}

.content-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #181818;
}

.box {
    flex: 0 0 45%; 
    padding-top: 45%;
    margin: 2.5%; 
    box-sizing: border-box;
    position: relative;
}

.box-content {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 10px solid var(--border-color);
}

#box1 {
    background-color: var(--scarf-color);
}

#box2 {
    background-color: var(--mountain-color);
}

#box3 {
    background-color: var(--mountain-color);
}

#box4 {
    background-color: var(--scarf-color);
}

footer {
    height: 20vh;
    background-color: #101010;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    position: relative;
    z-index: 2;
}

#credit {
    width: 80%;
    font-size: 2vw;
    color: var(--border-color);
}

#footer-logo {
    width: 10%;
    #footer-img {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    header {
        background-image: url(images/band-portrait.JPG);
    }

    .box {
        flex: 0 0 90%;
        padding-top: 90%;
        margin: 5%;
    }

    #box3 {
        background-color: #5D5FB4;
    }

    #box4 {
        background-color: #A43C23;
    }
}

