* { box-sizing: border-box; margin: 0; padding: 0; border: 0; }

header {
    height: 100vh;
    background-image: url(images/band-landscape.JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header img {
    height: 100%;
    width: 100%;
    opacity: 20%;
}

main {
    min-height: 200vh;
}

.content-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #181818;
}

.box {
    flex: 0 0 45%; 
    padding-top: 45%;
    margin: 2.5%; 
    box-sizing: border-box;
    position: relative;
}

.box-content {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#box1 {
    background-color: #5D5FB4;
}

#box2 {
    background-color: #A43C23;
}

#box3 {
    background-color: #A43C23;
}

#box4 {
    background-color: #5D5FB4;
}

@media screen and (max-width: 768px) {
    header {
        background-image: url(images/band-portrait.JPG);
    }

    .box {
        flex: 0 0 90%;
        padding-top: 90%;
        margin: 5%;
    }

    #box3 {
        background-color: #5D5FB4;
    }

    #box4 {
        background-color: #A43C23;
    }
}

